<h3><%= title%></h3>
<h1>Perafo89</h1>
<div class="content-img">
  <img src="images/perfil.jpg">
  <h3><a href="https://twitter.com/perafo89" target="_blank">Twitter</a></h3>
  <h3><a href="https://www.youtube.com/user/Perafo89" target="_blank"> Canal de Youtube</a></h3>
</div>
<div class="text-content">
  <p>Creativo y desarrollador, con capacidad y alta formación para la gestión y dirección de proyectos culturales y tecnológicos, diseño de planes para la formación tecnológica.Experiencia en Asesoría para la adquisición, implementación y puesta en marcha de procesos de Tecnologías en Hardware y Software como solución al mejoramiento y aprovechamiento de los procesos de gestión y producción empresarial y cultural.</p>
</div>
