
  <form method="get" action="/quizes/answer">
    <h3>Pregunta: <%= pregunta %></h3>
    <input type="text" name="respuesta" value="Responda aquí">
    <input type="submit" value="Enviar">
  </form>
